.loginHeader {
  background-image: url('./../../assets/pictures/LoginBackground.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  height: 70vh;
  color: #ffffff;
  padding: 0 24px;
}

.loginHeader h3 {
  margin-bottom: 80px;
  font-size: 28px;
  font-weight: 400;
  font-family: 'Integral CF';
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 24px;
  max-width: 100%;
  font-family: 'Open Sans';
}

input[type='email'],
input[type='password'] {
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #2c2c2e;
  outline: none;
  margin: 0 0 20px 0;
  padding: 16px 0;
  width: 100%;
}

::placeholder {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
  padding: 0 16px;
}

button[type='submit'] {
  background-color: #d0fd3e;
  color: #000000;
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  border-radius: 48px;
  padding: 13px 20px;
  cursor: pointer;
  margin-top: 50px;
  width: 100%;
}
