.loginHeader {
  background-image: url('./../../../assets/pictures/AppPictures/LoginBackground.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  height: 460px;
  color: var(--primary-text);
  text-transform: uppercase;
}

.loginHeader h3 {
  font-size: 28px;
  font-weight: 400;
  padding: 24px;
}

.loginHeader h3 span {
  font-weight: 700;
}

.formSection {
  padding: 0 24px;
  max-width: 100%;
  margin-top: 30px;
}

.formSection form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 24px;
}

.errorText {
  position: absolute;
  color: var(--tertiary-btn-text);
  padding-left: 16px;
  font-weight: 400;
  font-size: 11px;
}
