.loginHeader {
  background-image: url('./../../assets/pictures/LoginBackground.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  height: 460px;
  color: #ffffff;
}

.loginHeader h3 {
  font-size: 28px;
  font-weight: 400;
  padding: 24px;
}

.formSection {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  max-width: 100%;
  margin-top: 30px;
}

input[type='email'],
input[type='password'] {
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #2c2c2e;
  outline: none;
  width: 100%;
  padding: 20px 16px;
  margin: 20px 0;
}

::placeholder {
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
}

button[type='submit'] {
  background-color: #d0fd3e;
  color: #000000;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  border-radius: 48px;
  padding: 13px 20px;
  cursor: pointer;
  width: 100%;
}

.errorText {
  color: #ff2424;
  padding: 2px 0 0 16px;
  font-weight: 400;
  font-size: 11px;
}
