.workoutBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
  padding: 16px 8px;
  width: 100%;
}

.workoutPlan {
  background-color: #b4a0ff;
  border-radius: 16px;
  padding: 16px 8px;
  color: var(--tertiary-text);
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.workoutTitle {
  text-transform: uppercase;
  color: var(--primary-text);
  flex: 1 1 auto;
  overflow: hidden;
}

.workoutControls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.workoutBtns {
  display: flex;
  gap: 8px;
  flex: 0 0 auto;
}

.workoutExercises {
  margin: 8px 0 12px;
}

.newWorkoutBtn {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  display: flex;
}

@media (min-width: 768px) {
  .workoutDayTitle {
    text-align: center;
  }
}
