.workoutBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 24px;
}

.workoutPlan {
  background-color: #b4a0ff;
  border-radius: 12px;
  padding: 16px;
  color: var(--tertiary-text);
  max-width: 500px;
  width: 100%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.workoutDayTitle {
  color: #f6f1f1;
  margin: 10px 0 10px 10px;
  font-size: 20px;
}

.workoutTitle {
  text-transform: uppercase;
  font-size: 18px;
  color: var(--primary-text);
}

.workoutControls {
  display: flex;
  justify-content: space-between;
}

.workoutBtns {
  display: flex;
  gap: 10px;
}

.workoutExercises {
  margin-bottom: 10px;
}
