.inputBase {
  position: relative;
  color: var(--primary-text);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #2c2c2e;
  outline: none;
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  padding: 20px 16px;
}

::placeholder {
  font-weight: 400;
  font-size: 13px;
  color: var(--primary-text);
}

label {
  font-size: 17px;
  color: var(--secondary-text);
  padding-left: 16px;
}

.errorText {
  position: absolute;
  color: var(--tertiary-btn-text);
  padding-left: 16px;
  font-weight: 400;
  font-size: 11px;
}
