.base {
  /*display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; */
  font-size: 17px;
  font-weight: 500;
  border-radius: 50px;
  border: none;
  padding: 14px 20px;
  cursor: pointer;
}

.primary {
  background-color: var(--primary-background-btn);
  color: var(--tertiary-text);
  width: 100%;
}

.primary:hover {
  background-color: var(--primary-btn-hover);
}

.secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-backgroud-btn);
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.secondary:hover {
  background-color: var(--secondary-btn-hover);
  border: 1px solid var(--primary-btn-hover);
  transform: scale(1.1);
}

/*.secondary img {
  width: 10px;
  height: 15px;
}*/

/*.backBtnIcon {
  display: block;
  margin: auto;
}*/

.tertiary {
  background: none;
  border: none;
  margin-top: 32px;
  border-bottom: 1px solid #2c2c2e;
  border-top: 1px solid #2c2c2e;
  padding: 20px 0;
  color: var(--tertiary-btn-text);
  display: flex;
  font-size: 15px;
  cursor: pointer;
}
