.base {
  font-size: var(--font-base);
  font-weight: var(--font-medium);
  border-radius: var(--rounded-2xl);
  border: none;
  padding: var(--p-btn);
  cursor: pointer;
}

.primary {
  background-color: var(--primary-background-btn);
  color: var(--tertiary-text);
  width: 100%;
}

.primary:hover {
  background-color: var(--primary-btn-hover);
}

.secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background-btn);
  width: 36px;
  height: 36px;
  border-radius: var(--rounded-3xl);
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--primary-text);
}

.secondary:hover {
  background-color: var(--secondary-btn-hover);
  border-color: var(--primary-btn-hover);
}

.secondary svg {
  display: block;
  width: 16px;
  height: 16px;
}

.tertiary {
  background: none;
  border: none;
  margin-top: var(--m-lg);
  border-bottom: var(--border-b);
  border-top: var(--border-t);
  padding: var(--p-btn-2);
  color: var(--tertiary-btn-text);
  display: flex;
  font-size: var(--font-base);
  cursor: pointer;
}

.quaternary {
  background-color: var(--primary-text);
  color: var(--secondary-background-btn);
  width: 100%;
}

.quaternary:hover {
  background-color: var(--tertiary-btn-text);
}

.fifth {
  background-color: var(--primary-text);
  flex: 1 1 auto;
}

.fifth:hover {
  background-color: var(--primary-background-btn);
}

.sixth {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  display: inline-block;
  padding: 0;
}

.seventh {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: var(--tertiary-text);
  width: 36px;
  height: 36px;
  font-size: var(--font-base);
  border-radius: var(--rounded-3xl);
  cursor: pointer;
}

.seventh:hover {
  background-color: var(--primary-btn-hover);
}
