.base {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 50px;
  border: none;
  padding: 14px 20px;
  cursor: pointer;
  width: 100%;
  cursor: pointer;
}

.primary {
  background-color: var(--primary-background-btn);
  color: var(--tertiary-text);
}

.primary:hover {
  background-color: var(--primary-btn-hover);
}

.secondary {
  background-color: var(--secondary-backgroud-btn);
  padding: 10px;
  cursor: pointer;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary img {
  width: 10px;
  height: 15px;
}

.secondary:hover {
  background-color: var(--secondary-btn-hover);
}

.backBtnIcon {
  display: block;
  margin: auto;
}

.tertiary {
  background: none;
  border: none;
  margin-top: 32px;
  border-bottom: 1px solid #2c2c2e;
  border-top: 1px solid #2c2c2e;
  padding: 20px 0;
  color: var(--tertiary-btn-text);
  display: flex;
  font-size: 15px;
}
