.categoryListHeader {
  display: flex;
  flex-direction: column;
  padding: var(--p-gap);
  gap: var(--gap-lg);
}

.categoryHeader {
  display: flex;
  align-items: center;
  gap: var(--gap-lg);
}

.categoryListHeader h1 {
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.categoryListHeader p {
  font-size: var(--font-base);
  font-weight: var(--font-normal);
}

.categoryListSection {
  padding: var(--p-gap);
}

.categoryListSection h3 {
  color: var(--tertiary-text);
  position: absolute;
  padding-left: var(--p-xs);
  padding-top: var(--p-xs);
  font-size: var(--font-base);
}

.exerciseBox {
  transition: transform 0.3s ease;
  padding-bottom: 20px;
}

.exerciseBox:hover {
  transform: scale(1.1);
}

.exerciseBox img {
  border-radius: var(--rounded-xl);
}
