.editHeader {
  display: flex;
  align-items: center;
  padding: 32px 24px;
  margin-bottom: 32px;
  gap: 60px;
}

.backBtn {
  background-color: #2c2c2e;
  border: 2px solid;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.backBtn img {
  width: 10px;
  height: 15px;
}

.editHeader h1 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.editProfileImg {
  margin-bottom: 20px;
  text-align: center;
}

.editFormSection {
  padding: 32px 24px;
}

.editProfileImg img {
  border-radius: 50%;
  padding: 20px;
  background-color: #d0fd3e;
  width: 120px;
  height: 120px;
}

.inputFields {
  margin-bottom: 20px;
}

.inputFields label {
  font-size: 11px;
  color: #d0fd3e;
  padding-left: 16px;
}

.inputFields input {
  border-bottom: 1px solid #69696940;
  margin-top: 10px;
}

.inputFields span {
  font-size: 17px;
  font-weight: 600;
}

.unitContainer {
  display: flex;
  position: relative;
}

.unit {
  position: absolute;
  right: 10px;
  top: 35%;
  font-size: 17px;
  font-weight: 500;
  border: 1px solid;
  border-radius: 4px;
  background-color: #d0fd3e;
  color: #000000;
  padding: 4px;
}

.genderSelect {
  position: relative;
}

.genderSelect select {
  border: none;
  border-bottom: 1px solid #69696940;
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  background-color: #000000;
  cursor: pointer;
  color: #ffffff;
  padding: 20px 16px;
  margin-top: 10px;
}

.saveBtn {
  border: none;
  position: relative;
  margin-top: 100%;
}
