.ingredientsBox {
  background-color: var(--secondary-background-btn);
  border-radius: var(--rounded-xl);
  padding: var(--p-btn);
  margin-bottom: var(--m-xl);
}

.ingredientsSection h3 {
  font-size: var(--font-lg);
  padding-bottom: var(--p-xs);
}

.ingredientsBox p {
  padding-bottom: var(--p-xs);
}

@media (min-width: 1024px) {
  .ingredientsSection h3 {
    font-size: var(--font-3xl);
  }

  .ingredientsBox p {
    font-size: var(--font-2xl);
  }
}
