.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.date:hover {
  background-color: var(--primary-background-btn);
  color: var(--tertiary-text);
}
