.infoSetupHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--p-gap);
  margin-bottom: var(--m-lg);
  gap: var(--gap-sm);
}

.infoSetupHeader h1 {
  font-size: var(--font-2xl);
  font-weight: var(--font-semibold);
  text-transform: uppercase;
  color: var(--secondary-text);
}

.infoSetupHeader h3 {
  font-size: var(--font-xl);
  font-weight: var(--font-normal);
  color: var(--primary-text);
  text-transform: uppercase;
}

.infoSetupHeader p {
  font-size: var(--font-xs);
  font-weight: var(--font-normal);
  color: var(--primary-text);
  text-transform: uppercase;
}

.infoSetupSection {
  padding: var(--p-gap);
}

.inputDiv {
  margin-bottom: var(--m-sm);
  margin-top: var(--m-xs);
}

.unitContainer {
  display: flex;
  position: relative;
}

.unit {
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  border: 1px solid;
  border-radius: var(--rounded-xl);
  background-color: #d0fd3e;
  color: var(--tertiary-text);
  padding: 0 4px;
}

.unitContainer span {
  font-size: var(--font-sm);
  font-weight: var(--font-normal);
}

.genderField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-b);
  padding-bottom: var(--p-lg);
}

.genderSelection {
  display: flex;
}

.genderBtn {
  text-align: center;
  border: 1px solid #d0fd3e;
  font-size: var(--font-sm);
  font-weight: var(--font-medium);
  background-color: var(--primary-background);
  cursor: pointer;
  color: var(--primary-text);
  padding: 4px;
}

.activeGender {
  background-color: var(--primary-background-btn);
  color: var(--tertiary-text);
}

.errorText {
  color: var(--tertiary-btn-text);
  font-weight: var(--font-normal);
  font-size: var(--font-base);
  text-align: center;
}
