.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  max-width: 90%;
  height: auto;
  padding: 25px;
  background: #525252;
  border-radius: 12px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 50;
}

.modalContent h2 {
  font-size: 22px;
  text-align: center;
  color: var(--secondary-text);
  margin-bottom: 15px;
}

.modalInput {
  width: 100%;
  margin-bottom: 15px;
}

.dropdownMenu,
.textarea,
.workoutTitless {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
  transition: 0.3s;
  margin-top: 10px;
}

.dropdownMenu:focus,
.textarea:focus {
  border-color: var(--primary-background-btn);
  outline: none;
}

.modalBtn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.primaryBtn,
.cancelBtn {
  color: var(--tertiary-text);
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.primaryBtn:hover {
  background: var(--primary-background-btn);
}

.cancelBtn:hover {
  background: #e7152a;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}
