.detailsHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 24px;
  margin-top: 80px;
}

.workoutDetailsTitle {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-left: 4px;
}

.workoutDetailsTitle span {
  color: var(--secondary-text);
}

.detailsContent {
  padding: 0 16px;
  margin: 16px 0;
}

.detailsContent h4 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.detailsContent h4 span {
  text-transform: lowercase;
  font-size: 16px;
}

.exercisesList {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--primary-text);
  padding-bottom: 20px;
}

.exercisesList li {
  margin-bottom: 4px;
}

.exerciseLink:hover {
  color: var(--secondary-text);
}

.exercisePic {
  border-radius: 8px;
  margin-top: 10px;
}

.exerciseItem {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 8px;
  background: var(--secondary-background-btn);
}

.selectorWrapper {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 481px) {
  .exerciseItem {
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
  }

  .exercisePic {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
}
