.navHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  height: 92px;
  width: 100vh;
  padding: 0 24px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
  height: fit-content;
}

.nav ul li {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}

.nav ul li a:hover,
.nav ul li a.active {
  text-decoration: underline 2px #d0fd3e;
  text-underline-offset: 8px;
}

.navHome {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1c1c1e;
  display: flex;
}

.navHome ul {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 24px;
}
