.modalHeader {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--p-xl);
  border-bottom: var(--border-b);
}

.modalHeader > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-sm);
  padding-bottom: var(--p-base);
}

.modalHeader h1 {
  font-size: var(--font-lg);
  color: var(--primary-text);
}

.generateText {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  color: var(--primary-text);
  font-size: var(--font-sm);
}

.generateText p {
  font-size: var(--font-sm);
}

.generateBody {
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: var(--gap-sm);
}

.modalActions {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  border-top: var(--border-b);
  padding-top: var(--p-base);
}

@media (min-width: 768px) {
  .modalActions {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .modalHeader h1 {
    font-size: var(--font-2xl);
  }

  .generateText p {
    font-size: var(--font-xl);
  }
}
