.workoutInput {
  width: 100%;
}

.workoutInput label {
  padding-left: 0;
}

.dropdownMenu,
.exercisePreviewList {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background: #f5f5f5;
  transition: 0.3s;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.selectedExercise {
  color: var(--secondary-text);
  text-align: center;
}

.workoutBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
  margin-bottom: 70px;
}

.addExerciseBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.errorText {
  color: var(--tertiary-btn-text);
  text-align: center;
  font-weight: 400;
}

.inputGroup label {
  padding-left: 0;
}

/*.inputGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-end;
}*/

/*.inputGroup > :nth-child(-n + 3) {
  flex: 1 1 calc((100% - 20px) / 3);
}

.inputGroup > :nth-child(n + 4) {
  flex: 1 1 calc((100% - 10px) / 2);
}

.inputGroup > * {
  flex: 1 1 calc((100% - 40px) / 4);
}*/

.exerciseItem {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  gap: 20px;
}

.exerciseListBtns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.boxAlert {
  border: 1px solid var(--primary-text);
  border-radius: 4px;
}

.textAlert {
  color: var(--tertiary-btn-text);
  text-align: center;
  padding: 10px;
}

@media (min-width: 480px) {
  .exercisePreviewList {
    padding: 16px 12px;
    font-size: 14px;
  }

  /*.exerciseItem {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }*/

  .exerciseListBtns {
    flex-direction: row;
    width: 100%;
    gap: 6px;
    margin-top: 4px;
  }

  .exerciseListBtns button {
    width: 100%;
  }
}
