.workoutInput {
  width: 100%;
}

.workoutInput label {
  padding-left: 0;
}

.dropdownMenu {
  width: 100%;
  padding: var(--p-base);
  font-size: var(--font-sm);
  border: 2px solid #ccc;
  border-radius: var(--rounded-lg);
  background: var(--primary-text);
  transition: 0.3s;
  margin-top: var(--m-sm);
}

.exercisePreviewList {
  width: 100%;
  padding: var(--p-base);
  font-size: var(--font-sm);
  border: 2px solid #ccc;
  border-radius: var(--rounded-lg);
  background: var(--primary-text);
  transition: 0.3s;
  margin-top: var(--m-sm);
  max-height: 240px;
  overflow: auto;
}

.selectedExercise {
  color: var(--secondary-text);
  text-align: center;
}

.workoutBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: var(--gap-sm);
  margin-bottom: var(--m-xl);
}

.addExerciseBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--m-xs);
}

.errorText {
  color: var(--tertiary-btn-text);
  text-align: center;
  font-weight: var(--font-normal);
}

.inputGroup label {
  padding-left: 0;
}

.exerciseItem {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  gap: var(--gap-lg);
}

.exerciseListBtns {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.boxAlert {
  border: 1px solid var(--primary-text);
  border-radius: var(--rounded-sm);
}

.textAlert {
  color: var(--tertiary-btn-text);
  text-align: center;
  padding: var(--p-xs);
}

@media (min-width: 480px) {
  .exercisePreviewList {
    padding: var(--p-exercise);
    font-size: var(--font-base);
  }

  .exerciseListBtns {
    flex-direction: row;
    width: 100%;
    gap: var(--gap-sm);
    margin-top: var(--m-xs);
  }

  .exerciseListBtns button {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .exercisePreviewList {
    max-height: 320px;
  }

  .exerciseItem {
    padding: var(--p-base);
  }
}
