.dates {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 20px;
  justify-items: center;
  cursor: pointer;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(107, 103, 103);
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.day:hover {
  background-color: #f4f4f4;
  color: var(--tertiary-text);
  border-radius: 50%;
}

.currentDay {
  background-color: #b4a0ff;
}

.allDays {
  color: var(--primary-text);
}

.workoutDay {
  background-color: #e4f061;
  color: var(--tertiary-text);
}
