.categorySection {
  display: flex;
  flex-direction: column;
  padding: var(--p-gap);
  gap: var(--gap-lg);
  margin-top: var(--m-2xl);
}

.categorySection h1 {
  font-size: var(--font-xl);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  text-align: center;
}
.categoryBox {
  border: 1px solid #d0fd3e;
  border-radius: var(--rounded-xl);
  padding: var(--p-xs);
}

.categoryCard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: transform 0.3s ease;
}

.categoryCard img {
  width: 78px;
  height: 100%;
}

.categoryCard:hover {
  transform: scale(1.1);
}

.categoryCard h3 {
  color: var(--primary-text);
}

.categoryCard h3:hover {
  color: var(--primary-btn-hover);
}

.categoryBackBtn {
  border: none;
  border-radius: var(--rounded-2xl);
  background-color: rgba(0, 0, 0, 0.2);
  width: 32px;
  padding: var(--p-xs);
}

.categoryBackBtn:hover {
  background: var(--secondary-btn-hover);
}
