@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --primary-background: #1c1c1e;
  --primary-background-btn: #d0fd3e;
  --primary-text: #ffffff;
  --primary-btn-hover: #c1f519;
  --secondary-background-btn: #2c2c2c;
  --secondary-text: #d0fd3e;
  --secondary-btn-hover: #0f0f0f;
  --tertiary-text: #000000;
  --tertiary-btn-text: #ff2424;
  --span-background: #d0fd3e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-text);
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 - 700;
  font-style: normal;
}

img {
  width: 100%;
  max-width: 100%;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--primary-text);
}

a {
  text-decoration: none;
  color: var(--primary-text);
}
