.movementHeader button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(221, 221, 221, 1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: var(--rounded-2xl);
  padding: var(--rounded-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}

.movementHeader button:hover {
  background-color: transparent;
  border-color: var(--primary-btn-hover);
  color: var(--primary-btn-hover);
}

.movementInfo {
  padding: var(--p-gap);
}

.movementInfo h1 {
  font-size: var(--font-xl);
  font-weight: var(--font-semibold);
  text-transform: uppercase;
}

.movementVideo {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  margin-bottom: var(--m-sm);
}

.subCategoryVideo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
  margin-bottom: var(--m-lg);
  padding-top: var(--p-xs);
}

.subCategoryVideo.column {
  flex-direction: column;
}

.movementVideo p,
.subCategoryVideo p {
  font-size: var(--font-xs);
  font-weight: var(--font-normal);
  color: var(--secondary-text);
}

.videoDescription {
  font-size: var(--font-base);
  font-weight: var(--font-normal);
}

.subVideoDescription {
  margin-bottom: var(--m-lg);
  font-size: var(--font-base);
  font-weight: var(--font-normal);
  color: var(--primary-text);
}

.movementVideo img,
.subCategoryVideo img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.movementVideo img,
.subCategoryVideo a {
  width: 86px;
  height: 29px;
  border: 1px solid #2c2c2e;
  border-radius: var(--rounded-2xl);
  display: flex;
  justify-content: center;
  align-items: center;
}

.movementVideo img:hover {
  background: var(--primary-btn-hover);
}

.subCategorySection {
  padding: var(--p-gap);
}

.subCategory h3 {
  color: var(--secondary-text);
  font-size: var(--font-base);
  padding-bottom: var(--p-xs);
}

.subCategoryBox {
  padding-bottom: var(--p-lg);
}

.subCategoryBox h4 {
  padding-bottom: var(--p-xs);
}

.subCategoryBox img {
  border-radius: var(--rounded-xl);
}

.imgContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

.imgContainer img {
  width: 300px;
  height: 200px;
}
